$color-white:		#ffffff;
$color-black:		#000000;

$color-gray-98:		#F8FAFC; // elements light background
$color-gray-95:		#F1F5F8; // menu - background
$color-gray-90:		#F1F5F8; // every elements border

$color-blue-80:		#B8C2CC; // nav, menu, pagination - button border
$color-blue-60:		#8795A1; // nav, menu, pagination - button font

$color-blue-30:		#3D4852;
$color-blue-15:		#22292F;

$color-yellow-100:	#F2D024;
$color-red-95:		#DE751F;

$color-social-twitter:		#22292F;
$color-social-facebook:		#22292F;
$color-social-googleplus:	#22292F;

$primary-color: #6574CD; // define primary color
$primary-color-dark: #5661B3;